{{!
{
	"title": "Killer Photo Album",
	"name": "album", 
	"description": "Nice photo album.",
	"resources": {
		"albuminfo": "https://graph.facebook.com/{album}?field=name,created_time",
		"album_photos": "https://graph.facebook.com/{album}/photos?fields=image,name",
		"photos": "https://graph.facebook.com/{id}?fields=name,source"
	}
}
}}
<div class="row album_photos">
	<div class="col-md-4 info">
		<img class="img-responsive logo" src="/images/logo.png">
		<div class="itemInfo">
			<h4>{{resources.photos.name}}</h4>
			<p>Added on:{{formatDate resources.photos.created_time "%B %o, %Y"}}</p>	
			<a href="/" class="linkback">Back to albums list</a>
		</div>
	</div>
	<div id="mainImage" class="col-md-8">
		<img data-src="https://graph.facebook.com/{{resources.photos.id}}/picture?type=thumbnail" src="{{resources.photos.source}}" class="img-responsive"/>
	</div>
</div>
{{> partials/thumbnails }}