{{!
{
	"title": "Killer Photos",
	"name": "index", 
	"description": "Photo albums taken from The Killers' official Facebook page.",
	"resources": {
		"albums": "https://graph.facebook.com/thekillers/albums"
	}
}
}}
<div class="row albumlist">
	<div class="col-md-4 info">
		<img class="img-responsive logo" src="/images/logo.png">
		<p>Browse through our Facebook photo album!</p>			
	</div>
	<div class="col-md-8"><div class="well">
			{{> partials/album}}	
			<div class="clearfix"></div>	
	</div></div>
</div>